[
  {port, 8000},
  {bind_address, {0,0,0,0}},
  {server_name, "cijoel"},
  {server_root, "./"},
  {document_root, "./site/public"},
  {error_log, "./log/inets.log"},
  {modules, [request_handler]},

  {mime_types, [
    {"css", "text/css"}, 
    {"js", "text/javascript"}, 
    {"html", "text/html"}
  ]}
].
