{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "cijoel", "1",
        [
         kernel,
         stdlib,
         sasl,
         inets,
         simple_bridge,
         cijoel
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "cijoel"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, simple_bridge, [{incl_cond, include}]},
       {app, cijoel, [{incl_cond, include}]}
      ]}.

{target_dir, "cijoel"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erts/bin/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/erts/bin/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/bin/cijoel", "bin/cijoel"},
           {copy, "files/etc/app.config", "etc/app.config"},
           {copy, "files/etc/vm.args", "etc/vm.args"},
           {copy, "files/etc/httpd.config", "etc/httpd.config"},
           {copy, "files/site", "site"},
           {create, "log/inets.log", ""}
           ]}.
